# Guia Pandas para Iniciantes

## Instalação da biblioteca

In [ ]:
!pip install pandas openpyxl

## Importando a biblioteca

In [2]:
import pandas as pd

## Lendo fontes de dados

- Métodos `read_excel()`, `read_csv()`, `read_json()`

In [6]:
df = pd.read_excel("dados.xlsx")

* **Obs_1:** se tivesse mais que uma "ABA" pode usar o comando "sheet_name" que ficaria assim: `df = pd.read_excel("dados.xlsx", sheet_name="nome da sheet")`

* **Obs_2:** para arquivos CSV geralemente é preciso identificar qual o seprador e nesse caso usa-se o `sep` para mostrar que o separador é "ponto e virgula": `df = pd.read_csv("dados.csv", sep=";")`

In [7]:
# identificando o tipo de dados da DF
type(df)

pandas.core.frame.DataFrame

## Visualizando as linhas

In [8]:
# visualizando as primeiras linhas
df.head()

  data_venda     produto      vendedor  valor_unitario  quantidade
0 2020-10-19  Smartphone    José Maria            1500           1
1 2020-11-16  Smartphone    José Maria            1500           2
2 2020-02-20      Tablet  Jorge Mateus            1000           2
3 2020-06-03      Tablet  Jorge Mateus            1000           3
4 2020-02-01   Televisão  Jorge Mateus            3500           3

* **Obs**: se eu quiser identificar mais ou menos linhas que o padrao é só incluir dentro dos parenteses a qtd de linhas como um parametro. 
* **Exemplo**: `df.head(10)`

In [9]:
# visualizando as ultimas linhas
df.tail()

   data_venda     produto      vendedor  valor_unitario  quantidade
28 2020-12-22     Colchão    José Maria             310           2
29 2020-04-13     Colchão  Jorge Mateus             310           3
30 2020-09-10     Colchão  Jorge Mateus             310           3
31 2020-08-05  Impressora    José Maria             600           3
32 2020-01-27  Impressora  Jorge Mateus             600           3

## DataFrame & Series

- `Series`: é uma **coluna** de dados. Pode contar diferentes tipos de dados, mas eles não podem se misturar dentro da mesma coluna.
- `DataFrame`: é uma **tabela** de dados. Conjunto de `Series`.

## Listando as colunas

- Propriedade `columns`

In [10]:
# identificando as colunas do Dataframe
df.columns

Index(['data_venda', 'produto', 'vendedor', 'valor_unitario', 'quantidade'], dtype='object')

In [ ]:
# iterando sobre cada coluna (para aparecer um abaixo do outro) 
for coluna in df.columns:
    print(coluna)

data_venda
produto
vendedor
valor_unitario
quantidade

* **Obs**: Poderia fazer isso para varias manipulações de dados, como: modificar um nome, retirar espaços em branco, etc.

## Acessando colunas

* Existem duas formas de acessar uma coluna, porém em uma delas

## Métodos `loc` & `iloc`

- `loc`: acessa pelo rótulo (label) - nome da coluna ou nome do índice
- `iloc`: acesso pelo índice da coluna ou linha

## Índice

- Propriedade `index`
- Método `set_index()`

## Análise Exploratória

- `shape`
- `info()`: mostra informações sobre as colunas
- `describe()`: mostra algumas estatísticas

## Inserindo e excluindo colunas

## Contagem de valores distintos

- Métodos `value_counts()`, `unique()`, `nunique()`

## Agrupando dados

- Método `groupby()` e `pivot_table()`

## Filtrando linhas

- Método `query()`

## Filtrando linhas por um índice Datetime

## Exportando o DataFrame

- Métodos `to_csv()`e `to_excel()`